:root {
    --main-bg-color: #F0EAD6;
    --main-color: #191981;
}

body {
    font-family: sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-color);
}

h1, h2 {
    font-family: 'Bitter', 'Roboto Slab', 'Georgia', serif;
}

.wireframe img {
    width: 450px;
}